[ req ]
default_bits       = 4096   # Size of keys
default_keyfile    = key.pem  # name of generated keys
default_md         = sha512    # message digest algorithm
string_mask        = nombstr  # permitted characters
distinguished_name = req_distinguished_name
prompt             = no


[ req_distinguished_name ]
countryName            = "NO"                           # C=
stateOrProvinceName    = "Akershus"                     # ST=
localityName           = "Fornebu"                      # L=
postalCode             = "1364"                         # L/postalcode=
streetAddress          = "Martin Linges vei 17"         # L/street=
organizationName       = "Simula Research Laboratory"   # O=
organizationalUnitName = "NEAT Project"                 # OU=
commonName             = "oesthorn.nntb.no"             # CN=
emailAddress           = "user@example"                 # CN/emailAddress=
