{
    "uid":"sctp",
    "description":"prefer SCTP over other protocols, add socket options",
    "priority": 10,
    "replace_matched": false,
    "match":{
        "transport": {
            "value": "SCTP"
        }
    },
    "properties":{
        "transport": {
            "value": "SCTP", "precedence": 2,
            "score": 2
        },
        "SO/SOL_SOCKET/SO_SNDBUF": {"value": 4096, "precedence": 2},
        "SO/SOL_SOCKET/SCTP_NODELAY": {"value": false, "precedence": 2},
        "SO/SOL_SOCKET/SCTP_DISABLE_FRAGMENTS": {"value": 0, "precedence": 2}
    }
}
