{
    "uid":"mptcp_so",
    "policy_type": "policy",
    "priority": 100,
    "replace_matched": false,
    "match": {
        "transport": {"value": "MPTCP"}
    },
    "properties": {
        "SO/SOL_SOCKET/SO_MPTCP_ENABLED": {"value": true, "precedence": 2}
    }
}